<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/resource/logo.png" sizes="48x48" type="image/x-icon"> <!-- add favicon -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/resource/index.css">
    <link rel="stylesheet" href="/resource/media.css">
    <title>Waffles Project</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="/">
                <img src="/resource/logo.png" alt="LOGO" class="header__logo">
            </a>
            <div class="container">
                <div class="header__content">
                    <nav>
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><a href="/about">О нас</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="about_info">
                    <p>《Waffles Project》- молодая команда озвучки, которая каждый день старается для вас. На нашем сайте вы найдёте
                    самые свежие аниме сериалы в нашей озвучке.
                    Приятного вам просмотра! 🍥</p>
                    
                    <p>По вопросам сотрудничества с нами можно связаться по данному адресу: Wafflesproject@mail.ru</p>
                    
                    <P>Также, вы можете приятно провести время в нашем <a href="https://t.me/FatCatChat">телеграм</a> канале</p>

                    <p>Если есть возможность и желание, то просим вас задонатить по этой <a href="https://www.donationalerts.com/r/wafflesproject">ссылке</a></p>

                    <p>Для нас это очень важно, Спасибо!</p>
                </div>
            </div>
        </main>
        <footer>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- JQUERY -->
</body>

</html>