<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../logo.png" sizes="48x48" type="image/x-icon"> <!-- add favicon -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../index.css">
    <link rel="stylesheet" href="../../../media.css">
</head>
<body>
<div class="wrapper">
    <header>
        <img src="../logo.png" alt="LOGO" class="header__logo">
        <div class="container">
            <div class="header__content">
                <nav>
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="#">Донаты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="info">
                <img id="poster" class="poster" src="https://cdn.europosters.eu/image/750/posters/re-zero-key-art-i46586.jpg">
                <div class="title_discription_container">
                    <input id="title"/>
                    <div class="description_meta_container">
                        <div class="description">
                            <textarea id="description">Ipus Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ducimus vitae at assumenda totam aliquid laboriosam similique
                            quia nihil omnis, illo aspernatur libero adipisci a culpa, ipsam eos odio voluptate consectetur!
                            Ipus Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ducimus vitae at assumenda totam aliquid laboriosam similique
                            quia nihil omnis, illo aspernatur libero adipisci a culpa, ipsam eos odio voluptate consectetur!
                            Ipus Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ducimus vitae at assumenda totam aliquid laboriosam similique
                            quia nihil omnis, illo aspernatur libero adipisci a culpa, ipsam eos odio voluptate consectetur!
                            Ipus Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ducimus vitae at assumenda totam aliquid laboriosam similique
                            quia nihil omnis, illo aspernatur libero adipisci a culpa, ipsam eos odio voluptate consectetur!
                            Ipus Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ducimus vitae at assumenda totam aliquid laboriosam similique
                            quia nihil omnis, illo aspernatur libero adipisci a culpa, ipsam eos odio voluptate consectetur!</textarea>
                        </div>
                        <div class="meta_info">
                            <p>Жанр: <input id="genre"/></p>
                            <p>Студия: <input id="studio"/></p>
                            <p>Режиссер: <input id="director"/></p>
                            <p>Дата выпуска: <input id="release_date"/></p>
                            <p id="episode_amount"></p>
                        </div>
                    </div>
                    <button id="save_button" class="save_button" type="button">Save changes</button>
                </div>
            </div>
            <div id="popup_box" class="popup_box">
                <div>
                    <label for="newEpisodeName">Title: </label><input id="newEpisodeName"/>
                </div>
                <div>
                    <label for="newEpisodeUrl">URL: </label><input id="newEpisodeUrl"/>
                </div>

                <button id="submitEpisodeButton" type="button">Submit</button>
            </div>
            <div class="video_player">
                <iframe id="video_player" src=""
                frameborder="0" scrolling="no" allowfullscreen></iframe>
                <div id="choser" class="episode_chooser_container">
                    <ul id="choser_list">
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var saveButton = document.getElementById("save_button");
    var submitButton = document.getElementById("submitEpisodeButton");
    let videoPlayer = document.getElementById("video_player");
    let chooserList = document.getElementById("choser_list");
    let cover = document.getElementById("poster");
    let title = document.getElementById("title");
    let description = document.getElementById("description");
    let director = document.getElementById("director");
    let genre = document.getElementById("genre");
    let studio = document.getElementById("studio");
    let releaseDate = document.getElementById("release_date");
    let episodeAmount = document.getElementById("episode_amount");


    getInfo();
    function getInfo() {
        const currentUrl = window.location.href;
        $.get(currentUrl+"/get", function (data) {
            
            title.value = data.name;
            description.value = data.description;
            cover.src = data.cover;
            releaseDate.value = data.release_date;
            studio.value = data.studio;
            director.value = data.director;
            let genresString = "";
            data.genres.forEach(genreString => {
                genresString += genreString + " ";
            });
            genre.value = genresString;

            let episodes = data.episodes;
            changeEpisode(episodes[0].url);
            chooserList.innerHTML = null;
            episodes.forEach(episode => {
                let liElement = document.createElement("li");
                let buttonElement = document.createElement("button");
                buttonElement.className = "choser_button";
                buttonElement.innerText = episode.number;
                buttonElement.onclick = () => {changeEpisode(episode.url)};
                liElement.append(buttonElement);
                liElement.onclick = () => {changeEpisode(episode.url)};
                chooserList.append(liElement);
            })

            //Add last button for new series
            let liElement = document.createElement("li");
            let buttonElement = document.createElement("button");
            buttonElement.className = "choser_button";
            buttonElement.innerText = "+";
            buttonElement.onclick = () => {openNewEpisode()};
            liElement.append(buttonElement);
            liElement.onclick = () => {openNewEpisode()};
            chooserList.append(liElement)



            episodeAmount.innerText = "Количество серий: " + episodes.length;
        });
    }

    function openNewEpisode() {
        let popup_box = document.getElementById("popup_box");
        popup_box.style.visibility = "visible";
    }

    function changeEpisode(url) {
        videoPlayer.src = url;
    }

    submitButton.onclick = () => {
        const currentUrl = window.location.href;
        let newEpisodeNameInput = document.getElementById("newEpisodeName");
        let newEpisodeUrlInput = document.getElementById("newEpisodeUrl");
        if (newEpisodeNameInput.value !== null && newEpisodeUrlInput.value !== null) {
            let jsonData = JSON.stringify({
                "title": newEpisodeNameInput.value,
                "url": newEpisodeUrlInput.value
            });
            $.ajax({
                url: currentUrl + "/upload",
                type: "POST",
                contentType: 'application/json',
                dataType: 'json',
                data: jsonData,
                success: function (response) {
                    console.log(response)
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                }
            });
        }
        let popup_box = document.getElementById("popup_box");
        popup_box.style.visibility = "hidden";
    }

    saveButton.onclick = () => {editSeries()};
    function editSeries() {
        /*dataS.append("cover", fileChooser.files[0]);*/

        const dataS = {
            "title": title.value,
            "description": description.value,
            "genres": genre.value.split(" "),
            "releaseDate": releaseDate.value,
            "director": director.value,
            "studio": studio.value,
            "code": "1337"//codeField.value
        }

        const jsonData = JSON.stringify(dataS);
        console.log(dataS);
        /*$.ajax({
            type: "POST",
            cache: false,
            processData: false,
            contentType: false,
            data: dataS,
            url: "/series/upload",
            success: function (data) {
                console.log("OK");
            },
            error: function (data) {
            },
        });*/
        const currentUrl = window.location.href;
        $.ajax({
            url: currentUrl,
            type: "PUT",
            contentType: 'application/json',
            dataType: 'json',
            data: jsonData,
            success: function (response) {
                console.log(response)
            },
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });

        /*let form = fileChooser.files[0];
        let data = new FormData();
        data.append("file", form);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/series/upload/image?name="+titleField.value,
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {
            },
            error: function (e) {
            }
        });*/
    }
</script>
</body>
</html>