<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/resource/logo.png" sizes="48x48" type="image/x-icon"> <!-- add favicon -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/resource/index.css">
    <link rel="stylesheet" href="/resource/media.css">
</head>
<body>
<div class="wrapper">
    <header>
        <img src="/resource/logo.png" alt="LOGO" class="header__logo">
        <div class="container">
            <div class="header__content">
                <nav>
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/about">О нас</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="info">
                <img id="poster" class="poster" src="https://cdn.europosters.eu/image/750/posters/re-zero-key-art-i46586.jpg">
                <div class="title_discription_container">
                    <h2 id="title" ></h2>
                    <div class="description_meta_container">
                        <div class="description">
                            <p id="description"></p>
                        </div>
                        <div class="meta_info">
                            <p id="genre"></p>
                            <p id="studio"></p>
                            <p id="director"></p>
                            <p id="release_date"></p>
                            <p id="episode_amount"></p>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="video_player">
                <iframe id="video_player" src=""
                frameborder="0" scrolling="no" allowfullscreen></iframe>
                <div id="choser" class="episode_chooser_container">
                    <ul id="choser_list">
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- JQUERY -->
<script src="/resource/watch.js"></script>
</body>
</html>